*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font: normal 16px sans-serif;
    color:rgb(27, 27, 27);
}.anchor{
    padding-top: 50px;
    margin-top: -50px;
}
ul{list-style: none;}
nav{
    list-style: none;
}
a{
    text-decoration:none;
    opacity: 0.75;
    color:white;
}
a.btn, .btn{
    font-size:85%;
    color:white;
    padding: 18px 42px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background: #0E5DA0;
    opacity: .75;
}
a:hover, .btn:hover{
    opacity: 1;
}
section{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
}
.grid{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
hr{width: 250px;
height:2px;
background: #10152e;
border:0;
margin-bottom: 50px;
}
section h2.title{
    font: bold 200% "Open Sans", sans-serif;
    margin-top: 30px;
    text-align: center;
}
section p{
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}
section:not(.hero):nth-child(even){
    background-color: #f5f5f5;
}
header{
    background-color: #f5f5f5;
    z-index: 10;
    position:fixed;
    width: 100%;
    height:1.5em;
    overflow: visible;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    animation: 1s fadein 0.5s forwards; 
    opacity:.5;
}
 @keyframes fadein{
   100%{
       opacity:1;
   } 
} 
header nav {
    width:95vw;
    position:relative;
    display: flex;
    margin-right:-15px;
}
header nav a{
    align-self:right;
    flex:1 50px;
    padding:2px 10px;
}
header nav a:first-child{
    flex:7 70%
}
header nav a{][]
    font:800 85% "Open Sans", sans-serif;
    color:#0E5DA0;
    opacity:.8
}
header nav a:hover{
    opacity:1;
}
.hero{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color:white;
}
.hero .bgImg{
    filter:grayscale(65%);
    opacity:.7;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background: darkred;
}
.hero h1{
    width:600px;
    color:darkred;
    font:900 300% "Open Sans", sans-serif;
    margin-bottom: 15px;
    text-shadow: 1px 2px brown;
}
.hero h2{
    font:normal 200% "Open Sans", sans-serif;
    margin-bottom: 40px;
}
.hero-content{
opacity:0;
margin-top:100px;
animation: 5s slidefade 1s forwards;
}
@keyframes slidefade {
    100%{
        opacity: 1;
        margin: 0;
    }
}
.event .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.event .grid li.small{
    flex-basis: 30%;
}
.event .grid li.large{
    flex-basis: 70%;
}.about p{
    text-align: justify;
}
.about .grid li{
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}
.about .grid li i{
    color:#8c9eff;
}
.about .grid li h4{
    font-size:200%;
    margin: 25px 0;
}
.contact form{
    width: 60vw;
}.contact form div label{
    width:150px;
    display:inline-block;
}
.contact form div input{
    padding: 10px;
    margin:10px 30px;
    font-size:110%;
    color: #555;
    /* flex: 1; */
}
footer{
    background-color: #0E5DA0;
    color: #fff;
    padding:20px 0;
}
footer p{
    max-width:98vw;
    text-transform: uppercase;
    font-size: 85%;
    opacity: .75.6;
    text-align:right;
}
@media(max-width:1100px){
    .destinations .grid li.small, 
    .destinations .grid li.large{
        flex-basis: 50%;
        margin: 0 0 20px 0;
    }
}
@media (max-width:800px){
    .contact form a.btn, .btn{
    font-size:65%;
    padding: 10px 20px;
    font-weight: 500;
    margin-bottom:10px;
   }form{text-align: center;}
    section {
       padding: 50px 20px;
   }
   header{
       flex-direction: column;
   }
   header h2{
       margin-bottom: 15px;
   }
   .hero{
      min-height:600px; 
   } 
   .hero h1{
       width:350px;
       font-size: 175%;
   }
   .event .grid li.small, 
   .event .grid li.large{
       flex-basis: 100%;}
    .packages grid li{
        flex-basis:100%;
        padding: 20px;
    }
    .testimonials .quote{
        font-size:125%;
        margin: 15px 0;
    }
    .testimonials .author{
        font-size:85%;
    }
}